In [213]:
import pandas as pd
import random as random
import numpy as np

In [214]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Brown_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df1 = pd.read_csv(csv_file_path)

print(df1.head())

   ScanDir ID  Site  Gender    Age Handedness  DX Secondary Dx  ADHD Measure  \
0       26001     2       1  16.92        usa   3       pending      pending
1       26002     2       1  15.68          1   2       pending      pending
2       26004     2       0  14.99          1   0       pending      pending
3       26005     2       0  15.16          1   2       pending      pending
4       26009     2       1  16.91          0   1       pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131                 126     pending
4          44     pending  ...             81       NaN        97     pending

  QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0         1        NaN       NaN        NaN                1              NaN
1         1        NaN       NaN        NaN                1              NaN
2         1        NaN       NaN        NaN                1              NaN
3         1        NaN       NaN        NaN                1              NaN
4         1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [215]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/KKI_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df2 = pd.read_csv(csv_file_path)

print(df2.head())

   scan_dir_id  site gender    age  handedness  dx   secondary_dx  \
0      2371032   NaN    num  10.73           1   0            NaN
1      2026113   3.0      0  12.99           1   1            NaN
2      3434578   3.0      0   8.12           1   0            NaN
3      8628223   NaN      0  10.81           1   0  Simple phobia
4      1623716   3.0      0  12.65           1   1            NaN

   adhd_measure  adhd_index  inattentive  ...  performance_iq  full2_iq  \
0             2          47           55  ...             119       NaN
1             2          90           89  ...             108       NaN
2             2          42           42  ...              98       NaN
3             2          42           49  ...              86       NaN
4             2          87           90  ...              88       NaN

   full4_iq  med_status  qc_rest_1  qc_rest_2  qc_rest_3  qc_rest_4  \
0       122           1          1        NaN        NaN        NaN
1       106           1          1        NaN        NaN        NaN
2        89           1          1        NaN        NaN        NaN
3        97           1          1        NaN        NaN        NaN
4        89           1          1        NaN        NaN        NaN

   qc_anatomical_1  qc_anatomical_2
0                1              NaN
1                1              NaN
2                1              NaN
3                1              NaN
4                1              NaN

[5 rows x 23 columns]

In [216]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/NYU_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df3 = pd.read_csv(csv_file_path)

In [217]:
csv_file_path = '../../data/00-raw-data/OHSU_phenotypic.csv'

df4 = pd.read_csv(csv_file_path)

In [218]:
csv_file_path = '../../data/00-raw-data/OHSU_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df5 = pd.read_csv(csv_file_path)

In [219]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Peking_1_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df6 = pd.read_csv(csv_file_path)

In [220]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Peking_1_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df7 = pd.read_csv(csv_file_path)

In [221]:
#cleaning step-1
##TO REMOVE SPACES FROM COLUMN NAMES
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()

df3.columns = df3.columns.str.strip()
df4.columns = df4.columns.str.strip()

df5.columns = df5.columns.str.strip()
df6.columns = df6.columns.str.strip()

df7.columns = df7.columns.str.strip()

In [222]:
#standardising the columns
# REPLACE ALL CELLS THAT ARE ENTIRELY SPACE (OR EMPTY) WITH NAN 
#noticed spaces in df1, and df6
df1.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df2.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df3.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df4.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df5.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df6.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [223]:
#we can see the spaces are replaced with Nan in df1
print(df1.head())

   ScanDir ID  Site  Gender    Age Handedness  DX Secondary Dx ADHD Measure  \
0       26001     2       1  16.92        usa   3      pending      pending
1       26002     2       1  15.68          1   2      pending      pending
2       26004     2       0  14.99          1   0      pending      pending
3       26005     2       0  15.16          1   2      pending      pending
4       26009     2       1  16.91          0   1      pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131       NaN       126     pending
4          44     pending  ...             81       NaN        97     pending

   QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0          1        NaN       NaN        NaN                1              NaN
1          1        NaN       NaN        NaN                1              NaN
2          1        NaN       NaN        NaN                1              NaN
3          1        NaN       NaN        NaN                1              NaN
4          1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [224]:
# INSERT CODE TO COUNT THE NUMBER OF MISSING VALUES IN EACH COLUMN (use google)
# Count missing values in each column
missing_values = df1.isna().sum()

# Print the result
print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
ScanDir ID          0
Site                0
Gender              0
Age                 0
Handedness          0
DX                  0
Secondary Dx        0
ADHD Measure        0
ADHD Index          0
Inattentive         0
Hyper/Impulsive     0
IQ Measure         26
Verbal IQ           0
Performance IQ      0
Full2 IQ           26
Full4 IQ            0
Med Status          0
QC_Rest_1           0
QC_Rest_2          26
QC_Rest_3          26
QC_Rest_4          26
QC_Anatomical_1     0
QC_Anatomical_2    26
dtype: int64

In [225]:
# Identify columns with mixed data types
#convert the object datatypes
#the datatypes are similar for dataframes too as its the similar data from various unis
print(df1.dtypes)

ScanDir ID           int64
Site                 int64
Gender               int64
Age                float64
Handedness          object
DX                   int64
Secondary Dx        object
ADHD Measure        object
ADHD Index           int64
Inattentive         object
Hyper/Impulsive     object
IQ Measure         float64
Verbal IQ            int64
Performance IQ       int64
Full2 IQ           float64
Full4 IQ             int64
Med Status          object
QC_Rest_1            int64
QC_Rest_2          float64
QC_Rest_3          float64
QC_Rest_4          float64
QC_Anatomical_1      int64
QC_Anatomical_2    float64
dtype: object

In [226]:
#the Handedness column is converted to numeric.
df1['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df2['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df3['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df4['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df5['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df6['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df7['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
#We can see the string values in Handedness is converted to NaN as we need numeric column
print(df1.head())

   ScanDir ID  Site  Gender    Age  Handedness  DX Secondary Dx ADHD Measure  \
0       26001     2       1  16.92         NaN   3      pending      pending
1       26002     2       1  15.68         1.0   2      pending      pending
2       26004     2       0  14.99         1.0   0      pending      pending
3       26005     2       0  15.16         1.0   2      pending      pending
4       26009     2       1  16.91         0.0   1      pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131       NaN       126     pending
4          44     pending  ...             81       NaN        97     pending

   QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0          1        NaN       NaN        NaN                1              NaN
1          1        NaN       NaN        NaN                1              NaN
2          1        NaN       NaN        NaN                1              NaN
3          1        NaN       NaN        NaN                1              NaN
4          1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [227]:
df1['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
df2['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
df3['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
df4['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
df5['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
df6['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')

In [228]:
df1['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df2['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df3['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df4['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df5['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df6['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df7['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')

In [229]:
df1['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df2['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df3['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df4['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df5['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df6['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df7['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')

In [230]:
df1['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df2['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df3['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df4['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df5['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df6['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df7['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')

In [231]:
# Fill missing values in all columns with column means
#Dealing with missing values
df1.fillna(df1.mean(), inplace=True)
df2.fillna(df1.mean(), inplace=True)
df3.fillna(df1.mean(), inplace=True)
df4.fillna(df1.mean(), inplace=True)
df5.fillna(df1.mean(), inplace=True)
df6.fillna(df1.mean(), inplace=True)
df7.fillna(df1.mean(), inplace=True)

/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df4.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df6.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_15383/3820294942.py:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df7.fillna(df1.mean(), inplace=True)

In [232]:
combined_df = pd.concat([df1, df2,df3,df4,df5,df6])
print(combined_df.head())

   ScanDir ID  Site  Gender    Age  Handedness   DX Secondary Dx  \
0     26001.0   2.0     1.0  16.92        0.96  3.0      pending
1     26002.0   2.0     1.0  15.68        1.00  2.0      pending
2     26004.0   2.0     0.0  14.99        1.00  0.0      pending
3     26005.0   2.0     0.0  15.16        1.00  2.0      pending
4     26009.0   2.0     1.0  16.91        0.00  1.0      pending

   ADHD Measure  ADHD Index  Inattentive  ...  performance_iq  full2_iq  \
0           NaN        43.0          NaN  ...             NaN       NaN
1           NaN        35.0          NaN  ...             NaN       NaN
2           NaN        43.0          NaN  ...             NaN       NaN
3           NaN        54.0          NaN  ...             NaN       NaN
4           NaN        44.0          NaN  ...             NaN       NaN

   full4_iq  med_status  qc_rest_1  qc_rest_2  qc_rest_3  qc_rest_4  \
0       NaN         NaN        NaN        NaN        NaN        NaN
1       NaN         NaN        NaN        NaN        NaN        NaN
2       NaN         NaN        NaN        NaN        NaN        NaN
3       NaN         NaN        NaN        NaN        NaN        NaN
4       NaN         NaN        NaN        NaN        NaN        NaN

   qc_anatomical_1  qc_anatomical_2
0              NaN              NaN
1              NaN              NaN
2              NaN              NaN
3              NaN              NaN
4              NaN              NaN

[5 rows x 46 columns]

In [233]:
print(df1.head())

   ScanDir ID  Site  Gender    Age  Handedness  DX Secondary Dx  ADHD Measure  \
0       26001     2       1  16.92        0.96   3      pending           NaN
1       26002     2       1  15.68        1.00   2      pending           NaN
2       26004     2       0  14.99        1.00   0      pending           NaN
3       26005     2       0  15.16        1.00   2      pending           NaN
4       26009     2       1  16.91        0.00   1      pending           NaN

   ADHD Index  Inattentive  ...  Performance IQ  Full2 IQ  Full4 IQ  \
0          43          NaN  ...             104       NaN       120
1          35          NaN  ...             106       NaN       107
2          43          NaN  ...             123       NaN       125
3          54          NaN  ...             131       NaN       126
4          44          NaN  ...              81       NaN        97

   Med Status  QC_Rest_1  QC_Rest_2  QC_Rest_3  QC_Rest_4  QC_Anatomical_1  \
0         NaN          1        NaN        NaN        NaN                1
1         NaN          1        NaN        NaN        NaN                1
2         NaN          1        NaN        NaN        NaN                1
3         NaN          1        NaN        NaN        NaN                1
4         NaN          1        NaN        NaN        NaN                1

   QC_Anatomical_2
0              NaN
1              NaN
2              NaN
3              NaN
4              NaN

[5 rows x 23 columns]

In [234]:
df1 = df1.dropna(axis=1, how='any')
df2 = df1.dropna(axis=1, how='any')
df3 = df1.dropna(axis=1, how='any')
df4 = df1.dropna(axis=1, how='any')
df5 = df1.dropna(axis=1, how='any')
df6 = df1.dropna(axis=1, how='any')
df7 = df1.dropna(axis=1, how='any')
df8 = df1.dropna(axis=1, how='any')

In [235]:
#the final cleaned dataset
print(df1.head())

   ScanDir ID  Site  Gender    Age  Handedness  DX Secondary Dx  ADHD Index  \
0       26001     2       1  16.92        0.96   3      pending          43
1       26002     2       1  15.68        1.00   2      pending          35
2       26004     2       0  14.99        1.00   0      pending          43
3       26005     2       0  15.16        1.00   2      pending          54
4       26009     2       1  16.91        0.00   1      pending          44

   Verbal IQ  Performance IQ  Full4 IQ  QC_Rest_1  QC_Anatomical_1
0        133             104       120          1                1
1        106             106       107          1                1
2        119             123       125          1                1
3        116             131       126          1                1
4        113              81        97          1                1

In [236]:
combined_df = pd.concat([df1, df2,df3,df4,df5,df6,df7], axis=0)

In [237]:
print(combined_df.head())

   ScanDir ID  Site  Gender    Age  Handedness  DX Secondary Dx  ADHD Index  \
0       26001     2       1  16.92        0.96   3      pending          43
1       26002     2       1  15.68        1.00   2      pending          35
2       26004     2       0  14.99        1.00   0      pending          43
3       26005     2       0  15.16        1.00   2      pending          54
4       26009     2       1  16.91        0.00   1      pending          44

   Verbal IQ  Performance IQ  Full4 IQ  QC_Rest_1  QC_Anatomical_1
0        133             104       120          1                1
1        106             106       107          1                1
2        119             123       125          1                1
3        116             131       126          1                1
4        113              81        97          1                1

In [238]:
#the final modified file can be used for further analysis.
#export individual files to this modified folder and also send the combined file.
df1.to_csv('../../data/01-modified-data/Brown_TestRelease_phenotypic_clean.csv', index=False)
df2.to_csv('../../data/01-modified-data/KKI_phenotypic_clean.csv', index=False)
df3.to_csv('../../data/01-modified-data/NYU_phenotypic_clean.csv', index=False)
df4.to_csv('../../data/01-modified-data/OHSU_phenotypic_clean.csv', index=False)
df5.to_csv('../../data/01-modified-data/OHSU_TestRelease_phenotypic_clean.csv', index=False)
df6.to_csv('../../data/01-modified-data/Peking_1_phenotypic_clean.csv', index=False)
df7.to_csv('../../data/01-modified-data/Peking_1_TestRelease_phenotypic_clean.csv', index=False)
combined_df.to_csv('../../data/01-modified-data/combined_data_clean.csv', index=False)