In [728]:
import pandas as pd
import random as random
import numpy as np

In [729]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Brown_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df1 = pd.read_csv(csv_file_path)

print(df1.head())

   ScanDir ID  Site  Gender    Age Handedness  DX Secondary Dx  ADHD Measure  \
0       26001     2       1  16.92        usa   3       pending      pending
1       26002     2       1  15.68          1   2       pending      pending
2       26004     2       0  14.99          1   0       pending      pending
3       26005     2       0  15.16          1   2       pending      pending
4       26009     2       1  16.91          0   1       pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131                 126     pending
4          44     pending  ...             81       NaN        97     pending

  QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0         1        NaN       NaN        NaN                1              NaN
1         1        NaN       NaN        NaN                1              NaN
2         1        NaN       NaN        NaN                1              NaN
3         1        NaN       NaN        NaN                1              NaN
4         1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [730]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/KKI_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df2 = pd.read_csv(csv_file_path)

print(df2.head())

   scan_dir_id  site gender    age  handedness  dx   secondary_dx  \
0      2371032   NaN    num  10.73           1   0            NaN
1      2026113   3.0      0  12.99           1   1            NaN
2      3434578   3.0      0   8.12           1   0            NaN
3      8628223   NaN      0  10.81           1   0  Simple phobia
4      1623716   3.0      0  12.65           1   1            NaN

   adhd_measure  adhd_index  inattentive  ...  performance_iq  full2_iq  \
0             2          47           55  ...             119       NaN
1             2          90           89  ...             108       NaN
2             2          42           42  ...              98       NaN
3             2          42           49  ...              86       NaN
4             2          87           90  ...              88       NaN

   full4_iq  med_status  qc_rest_1  qc_rest_2  qc_rest_3  qc_rest_4  \
0       122           1          1        NaN        NaN        NaN
1       106           1          1        NaN        NaN        NaN
2        89           1          1        NaN        NaN        NaN
3        97           1          1        NaN        NaN        NaN
4        89           1          1        NaN        NaN        NaN

   qc_anatomical_1  qc_anatomical_2
0                1              NaN
1                1              NaN
2                1              NaN
3                1              NaN
4                1              NaN

[5 rows x 23 columns]

In [731]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/NYU_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df3 = pd.read_csv(csv_file_path)

In [732]:
csv_file_path = '../../data/00-raw-data/OHSU_phenotypic.csv'

df4 = pd.read_csv(csv_file_path)

In [733]:
csv_file_path = '../../data/00-raw-data/OHSU_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df5 = pd.read_csv(csv_file_path)

In [734]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Peking_1_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df6 = pd.read_csv(csv_file_path)

In [735]:
# Specify the path to your CSV file
csv_file_path = '../../data/00-raw-data/Peking_1_TestRelease_phenotypic.csv'

# Use the read_csv function to read the CSV file into a DataFrame
df7 = pd.read_csv(csv_file_path)

In [736]:
#cleaning step-1
##TO REMOVE SPACES FROM COLUMN NAMES
df1.columns = df1.columns.str.strip()
df2.columns = df2.columns.str.strip()

df3.columns = df3.columns.str.strip()
df4.columns = df4.columns.str.strip()

df5.columns = df5.columns.str.strip()
df6.columns = df6.columns.str.strip()

df7.columns = df7.columns.str.strip()

In [737]:
#standardising the columns
# REPLACE ALL CELLS THAT ARE ENTIRELY SPACE (OR EMPTY) WITH NAN 
#noticed spaces in df1, and df6
df1.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df2.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df3.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df4.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df5.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df6.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [738]:
#we can see the spaces are replaced with Nan in df1
print(df1.head())

   ScanDir ID  Site  Gender    Age Handedness  DX Secondary Dx ADHD Measure  \
0       26001     2       1  16.92        usa   3      pending      pending
1       26002     2       1  15.68          1   2      pending      pending
2       26004     2       0  14.99          1   0      pending      pending
3       26005     2       0  15.16          1   2      pending      pending
4       26009     2       1  16.91          0   1      pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131       NaN       126     pending
4          44     pending  ...             81       NaN        97     pending

   QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0          1        NaN       NaN        NaN                1              NaN
1          1        NaN       NaN        NaN                1              NaN
2          1        NaN       NaN        NaN                1              NaN
3          1        NaN       NaN        NaN                1              NaN
4          1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [739]:
# INSERT CODE TO COUNT THE NUMBER OF MISSING VALUES IN EACH COLUMN (use google)
# Count missing values in each column
missing_values = df1.isna().sum()

# Print the result
print("Number of missing values in each column:")
print(missing_values)

Number of missing values in each column:
ScanDir ID          0
Site                0
Gender              0
Age                 0
Handedness          0
DX                  0
Secondary Dx        0
ADHD Measure        0
ADHD Index          0
Inattentive         0
Hyper/Impulsive     0
IQ Measure         26
Verbal IQ           0
Performance IQ      0
Full2 IQ           26
Full4 IQ            0
Med Status          0
QC_Rest_1           0
QC_Rest_2          26
QC_Rest_3          26
QC_Rest_4          26
QC_Anatomical_1     0
QC_Anatomical_2    26
dtype: int64

In [740]:
# Identify columns with mixed data types
#convert the object datatypes
#the datatypes are similar for dataframes too as its the similar data from various unis
print(df1.dtypes)

ScanDir ID           int64
Site                 int64
Gender               int64
Age                float64
Handedness          object
DX                   int64
Secondary Dx        object
ADHD Measure        object
ADHD Index           int64
Inattentive         object
Hyper/Impulsive     object
IQ Measure         float64
Verbal IQ            int64
Performance IQ       int64
Full2 IQ           float64
Full4 IQ             int64
Med Status          object
QC_Rest_1            int64
QC_Rest_2          float64
QC_Rest_3          float64
QC_Rest_4          float64
QC_Anatomical_1      int64
QC_Anatomical_2    float64
dtype: object

In [741]:
#the Handedness column is converted to numeric.
df1['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df2['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df3['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df4['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df5['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df6['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
df7['Handedness'] = pd.to_numeric(df1['Handedness'], errors='coerce', downcast='integer')
#We can see the string values in Handedness is converted to NaN as we need numeric column
print(df1.head())

   ScanDir ID  Site  Gender    Age  Handedness  DX Secondary Dx ADHD Measure  \
0       26001     2       1  16.92         NaN   3      pending      pending
1       26002     2       1  15.68         1.0   2      pending      pending
2       26004     2       0  14.99         1.0   0      pending      pending
3       26005     2       0  15.16         1.0   2      pending      pending
4       26009     2       1  16.91         0.0   1      pending      pending

   ADHD Index Inattentive  ... Performance IQ  Full2 IQ  Full4 IQ  Med Status  \
0          43     pending  ...            104       NaN       120     pending
1          35     pending  ...            106       NaN       107     pending
2          43     pending  ...            123       NaN       125     pending
3          54     pending  ...            131       NaN       126     pending
4          44     pending  ...             81       NaN        97     pending

   QC_Rest_1  QC_Rest_2 QC_Rest_3  QC_Rest_4  QC_Anatomical_1  QC_Anatomical_2
0          1        NaN       NaN        NaN                1              NaN
1          1        NaN       NaN        NaN                1              NaN
2          1        NaN       NaN        NaN                1              NaN
3          1        NaN       NaN        NaN                1              NaN
4          1        NaN       NaN        NaN                1              NaN

[5 rows x 23 columns]

In [742]:
#df1['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
#df2['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
#df3['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
#df4['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
#df5['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')
#df6['ADHD Measure'] = pd.to_numeric(df1['ADHD Measure'], errors='coerce', downcast='integer')

In [743]:
df1

,ScanDir ID,Site,Gender,Age,Handedness,DX,Secondary Dx,ADHD Measure,ADHD Index,Inattentive,...,Performance IQ,Full2 IQ,Full4 IQ,Med Status,QC_Rest_1,QC_Rest_2,QC_Rest_3,QC_Rest_4,QC_Anatomical_1,QC_Anatomical_2
0,26001,2,1,16.92,NaN,3,pending,pending,43,pending,...,104,NaN,120,pending,1,NaN,NaN,NaN,1,NaN
1,26002,2,1,15.68,1.0,2,pending,pending,35,pending,...,106,NaN,107,pending,1,NaN,NaN,NaN,1,NaN
2,26004,2,0,14.99,1.0,0,pending,pending,43,pending,...,123,NaN,125,pending,1,NaN,NaN,NaN,1,NaN
3,26005,2,0,15.16,1.0,2,pending,pending,54,pending,...,131,NaN,126,pending,1,NaN,NaN,NaN,1,NaN
4,26009,2,1,16.91,0.0,1,pending,pending,44,pending,...,81,NaN,97,pending,1,NaN,NaN,NaN,1,NaN
5,26014,2,0,16.21,1.0,0,pending,pending,43,pending,...,102,NaN,102,pending,1,NaN,NaN,NaN,1,NaN
6,26015,2,0,15.20,1.0,0,pending,pending,35,pending,...,98,NaN,113,pending,1,NaN,NaN,NaN,1,NaN
7,26016,2,1,16.07,1.0,1,pending,pending,36,pending,...,96,NaN,109,pending,1,NaN,NaN,NaN,1,NaN
8,26017,2,0,14.56,1.0,1,pending,pending,50,pending,...,87,NaN,89,pending,1,NaN,NaN,NaN,1,NaN
9,26022,2,1,17.83,1.0,2,pending,pending,32,pending,...,111,NaN,109,pending,1,NaN,NaN,NaN,1,NaN
10,26024,2,0,17.77,1.0,3,pending,pending,56,pending,...,83,NaN,85,pending,1,NaN,NaN,NaN,1,NaN
11,26027,2,0,11.28,1.0,3,pending,pending,34,pending,...,103,NaN,106,pending,1,NaN,NaN,NaN,1,NaN
12,26030,2,0,14.51,1.0,0,pending,pending,39,pending,...,119,NaN,123,pending,1,NaN,NaN,NaN,1,NaN
13,26039,2,0,14.19,1.0,2,pending,pending,58,pending,...,117,NaN,124,pending,1,NaN,NaN,NaN,1,NaN
14,26040,2,0,13.67,1.0,0,pending,pending,60,pending,...,93,NaN,102,pending,1,NaN,NaN,NaN,1,NaN
15,26041,2,0,13.68,1.0,3,pending,pending,56,pending,...,120,NaN,128,pending,1,NaN,NaN,NaN,0,NaN
16,26042,2,0,13.82,1.0,2,pending,pending,35,pending,...,110,NaN,109,pending,1,NaN,NaN,NaN,1,NaN
17,26043,2,0,11.60,1.0,1,pending,pending,31,pending,...,127,NaN,129,pending,1,NaN,NaN,NaN,1,NaN
18,26044,2,0,9.32,1.0,1,pending,pending,53,pending,...,93,NaN,107,pending,1,NaN,NaN,NaN,1,NaN
19,26045,2,1,14.67,1.0,2,pending,pending,45,pending,...,109,NaN,111,pending,1,NaN,NaN,NaN,1,NaN
20,26050,2,0,8.50,1.0,3,pending,pending,49,pending,...,116,NaN,121,pending,1,NaN,NaN,NaN,1,NaN
21,26052,2,0,17.87,1.0,2,pending,pending,40,pending,...,109,NaN,112,pending,1,NaN,NaN,NaN,1,NaN
22,26053,2,1,15.79,1.0,0,pending,pending,45,pending,...,111,NaN,120,pending,1,NaN,NaN,NaN,1,NaN
23,26054,2,0,12.02,1.0,0,pending,pending,45,pending,...,109,NaN,125,pending,1,NaN,NaN,NaN,1,NaN
24,26055,2,1,17.74,1.0,2,pending,pending,52,pending,...,119,NaN,116,pending,1,NaN,NaN,NaN,1,NaN
25,26057,2,1,12.00,1.0,2,pending,pending,47,pending,...,110,NaN,114,pending,1,NaN,NaN,NaN,1,NaN

In [744]:
df1['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df2['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df3['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df4['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df5['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df6['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')
df7['Inattentive'] = pd.to_numeric(df1['Inattentive'], errors='coerce', downcast='integer')

In [745]:
df1['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df2['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df3['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df4['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df5['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df6['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')
df7['Med Status'] = pd.to_numeric(df1['Med Status'], errors='coerce', downcast='integer')

In [746]:
df1['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df2['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df3['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df4['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df5['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df6['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')
df7['Hyper/Impulsive'] = pd.to_numeric(df1['Hyper/Impulsive'], errors='coerce', downcast='integer')

In [747]:
# Fill missing values in all columns with column means
#Dealing with missing values
df1.fillna(df1.mean(), inplace=True)
df2.fillna(df1.mean(), inplace=True)
df3.fillna(df1.mean(), inplace=True)
df4.fillna(df1.mean(), inplace=True)
df5.fillna(df1.mean(), inplace=True)
df6.fillna(df1.mean(), inplace=True)
df7.fillna(df1.mean(), inplace=True)

/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:3: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df1.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df2.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:5: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df3.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:6: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df4.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:7: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df5.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:8: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df6.fillna(df1.mean(), inplace=True)
/var/folders/bd/fz7166695vq0bg9w400f8zl40000gn/T/ipykernel_4762/3820294942.py:9: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df7.fillna(df1.mean(), inplace=True)

In [748]:
combined_df = pd.concat([df5,df1, df2,df3,df4,df6])
print(combined_df)

    ScanDir ID  Site  Gender    Age  Handedness   DX Secondary Dx  \
0      23000.0   6.0     0.0  10.42        0.96  1.0          NaN
1      23001.0   6.0     1.0   9.33        1.00  0.0          NaN
2      23002.0   6.0     1.0  10.67        1.00  1.0          NaN
3      23003.0   6.0     1.0   7.67        1.00  2.0          NaN
4      23004.0   6.0     1.0   9.33        0.00  1.0          NaN
..         ...   ...     ...    ...         ...  ...          ...
80   9210521.0   1.0     1.0   9.25        0.96  3.0          NaN
81   9221927.0   1.0     1.0  11.83        0.96  0.0          NaN
82   9783279.0   1.0     0.0  12.75        0.96  0.0          NaN
83   9887336.0   1.0     1.0  11.33        0.96  0.0          NaN
84   9890726.0   1.0     0.0   9.25        0.96  0.0          NaN

   ADHD Measure  ADHD Index  Inattentive  ...  performance_iq  full2_iq  \
0           NaN   44.615385          NaN  ...             NaN       NaN
1           NaN   44.615385          NaN  ...             NaN       NaN
2           NaN   44.615385          NaN  ...             NaN       NaN
3           NaN   44.615385          NaN  ...             NaN       NaN
4           NaN   44.615385          NaN  ...             NaN       NaN
..          ...         ...          ...  ...             ...       ...
80            1   49.000000          NaN  ...             NaN       NaN
81            1   31.000000          NaN  ...             NaN       NaN
82            1   35.000000          NaN  ...             NaN       NaN
83            1   24.000000          NaN  ...             NaN       NaN
84            1 -999.000000          NaN  ...             NaN       NaN

    full4_iq  med_status  qc_rest_1  qc_rest_2  qc_rest_3  qc_rest_4  \
0        NaN         NaN        NaN        NaN        NaN        NaN
1        NaN         NaN        NaN        NaN        NaN        NaN
2        NaN         NaN        NaN        NaN        NaN        NaN
3        NaN         NaN        NaN        NaN        NaN        NaN
4        NaN         NaN        NaN        NaN        NaN        NaN
..       ...         ...        ...        ...        ...        ...
80       NaN         NaN        NaN        NaN        NaN        NaN
81       NaN         NaN        NaN        NaN        NaN        NaN
82       NaN         NaN        NaN        NaN        NaN        NaN
83       NaN         NaN        NaN        NaN        NaN        NaN
84       NaN         NaN        NaN        NaN        NaN        NaN

    qc_anatomical_1  qc_anatomical_2
0               NaN              NaN
1               NaN              NaN
2               NaN              NaN
3               NaN              NaN
4               NaN              NaN
..              ...              ...
80              NaN              NaN
81              NaN              NaN
82              NaN              NaN
83              NaN              NaN
84              NaN              NaN

[529 rows x 46 columns]

In [749]:
combined_df['ADHD Measure'].replace('pending', np.nan, inplace=True)

In [750]:
mode_sex = combined_df['ADHD Measure'].mode()[0]
combined_df['ADHD Measure'].fillna(mode_sex, inplace=True)

In [751]:
print(combined_df.head())

   ScanDir ID  Site  Gender    Age  Handedness   DX Secondary Dx  \
0     23000.0   6.0     0.0  10.42        0.96  1.0          NaN
1     23001.0   6.0     1.0   9.33        1.00  0.0          NaN
2     23002.0   6.0     1.0  10.67        1.00  1.0          NaN
3     23003.0   6.0     1.0   7.67        1.00  2.0          NaN
4     23004.0   6.0     1.0   9.33        0.00  1.0          NaN

   ADHD Measure  ADHD Index  Inattentive  ...  performance_iq  full2_iq  \
0           2.0   44.615385          NaN  ...             NaN       NaN
1           2.0   44.615385          NaN  ...             NaN       NaN
2           2.0   44.615385          NaN  ...             NaN       NaN
3           2.0   44.615385          NaN  ...             NaN       NaN
4           2.0   44.615385          NaN  ...             NaN       NaN

   full4_iq  med_status  qc_rest_1  qc_rest_2  qc_rest_3  qc_rest_4  \
0       NaN         NaN        NaN        NaN        NaN        NaN
1       NaN         NaN        NaN        NaN        NaN        NaN
2       NaN         NaN        NaN        NaN        NaN        NaN
3       NaN         NaN        NaN        NaN        NaN        NaN
4       NaN         NaN        NaN        NaN        NaN        NaN

   qc_anatomical_1  qc_anatomical_2
0              NaN              NaN
1              NaN              NaN
2              NaN              NaN
3              NaN              NaN
4              NaN              NaN

[5 rows x 46 columns]

In [752]:
df1 = df1.dropna(axis=1, how='any')
df2 = df1.dropna(axis=1, how='any')
df3 = df1.dropna(axis=1, how='any')
df4 = df1.dropna(axis=1, how='any')
df5 = df1.dropna(axis=1, how='any')
df6 = df1.dropna(axis=1, how='any')
df7 = df1.dropna(axis=1, how='any')
df8 = df1.dropna(axis=1, how='any')

In [753]:
#site of data collection, age, gender, handedness, performance IQ, verbal IQ, and full scale IQ are the most important 
#variables for to  build a model so dropping the below uncessary columns
combined_df = combined_df.drop('Inattentive', axis=1)
combined_df = combined_df.drop('qc_rest_1', axis=1)
combined_df = combined_df.drop('qc_rest_2', axis=1)
combined_df = combined_df.drop('qc_rest_3', axis=1)
combined_df = combined_df.drop('qc_rest_4', axis=1)
combined_df = combined_df.drop('qc_anatomical_1', axis=1)
combined_df = combined_df.drop('qc_anatomical_2', axis=1)
combined_df = combined_df.drop('med_status', axis=1)
combined_df = combined_df.drop('IQ Measure', axis=1)
combined_df = combined_df.drop('iq_measure', axis=1)
combined_df = combined_df.drop('hyper_impulsive', axis=1)

In [754]:
#the final cleaned dataset
print(combined_df.head())

   ScanDir ID  Site  Gender    Age  Handedness   DX Secondary Dx  \
0     23000.0   6.0     0.0  10.42        0.96  1.0          NaN
1     23001.0   6.0     1.0   9.33        1.00  0.0          NaN
2     23002.0   6.0     1.0  10.67        1.00  1.0          NaN
3     23003.0   6.0     1.0   7.67        1.00  2.0          NaN
4     23004.0   6.0     1.0   9.33        0.00  1.0          NaN

   ADHD Measure  ADHD Index  Hyper/Impulsive  ...  handedness  dx  \
0           2.0   44.615385              NaN  ...         NaN NaN
1           2.0   44.615385              NaN  ...         NaN NaN
2           2.0   44.615385              NaN  ...         NaN NaN
3           2.0   44.615385              NaN  ...         NaN NaN
4           2.0   44.615385              NaN  ...         NaN NaN

   secondary_dx  adhd_measure  adhd_index  inattentive  verbal_iq  \
0           NaN           NaN         NaN          NaN        NaN
1           NaN           NaN         NaN          NaN        NaN
2           NaN           NaN         NaN          NaN        NaN
3           NaN           NaN         NaN          NaN        NaN
4           NaN           NaN         NaN          NaN        NaN

   performance_iq  full2_iq  full4_iq
0             NaN       NaN       NaN
1             NaN       NaN       NaN
2             NaN       NaN       NaN
3             NaN       NaN       NaN
4             NaN       NaN       NaN

[5 rows x 35 columns]

In [755]:
combined_df.columns

Index(['ScanDir ID', 'Site', 'Gender', 'Age', 'Handedness', 'DX',
       'Secondary Dx', 'ADHD Measure', 'ADHD Index', 'Hyper/Impulsive',
       'Verbal IQ', 'Performance IQ', 'Full2 IQ', 'Full4 IQ', 'Med Status',
       'QC_Rest_1', 'QC_Rest_2', 'QC_Rest_3', 'QC_Rest_4', 'QC_Anatomical_1',
       'QC_Anatomical_2', 'scan_dir_id', 'site', 'gender', 'age', 'handedness',
       'dx', 'secondary_dx', 'adhd_measure', 'adhd_index', 'inattentive',
       'verbal_iq', 'performance_iq', 'full2_iq', 'full4_iq'],
      dtype='object')

In [756]:
#combined_df = pd.concat([df1, df2,df3,df4,df5,df6,df7], axis=0)
combined_df = combined_df.drop('inattentive', axis=1)
combined_df = combined_df.drop('Secondary Dx', axis=1)
combined_df = combined_df.drop('secondary_dx', axis=1)
combined_df = combined_df.drop('full2_iq', axis=1)
combined_df = combined_df.drop('Hyper/Impulsive', axis=1)
combined_df = combined_df.drop('site', axis=1)
combined_df = combined_df.drop('gender', axis=1)
combined_df = combined_df.drop('age', axis=1)
combined_df = combined_df.drop('handedness', axis=1)
combined_df = combined_df.drop('dx', axis=1)
combined_df = combined_df.drop('adhd_measure', axis=1)
combined_df = combined_df.drop('adhd_index', axis=1)
combined_df = combined_df.drop('verbal_iq', axis=1)
combined_df = combined_df.drop('performance_iq', axis=1)
combined_df = combined_df.drop('Med Status', axis=1)
combined_df = combined_df.drop('QC_Rest_1', axis=1)
combined_df = combined_df.drop('QC_Rest_2', axis=1)
combined_df = combined_df.drop('QC_Rest_3', axis=1)
combined_df = combined_df.drop('QC_Rest_4', axis=1)
combined_df = combined_df.drop('QC_Anatomical_1', axis=1)
combined_df = combined_df.drop('QC_Anatomical_2', axis=1)
combined_df = combined_df.drop('scan_dir_id', axis=1)
combined_df = combined_df.drop('full4_iq', axis=1)
combined_df = combined_df.drop('Full2 IQ', axis=1)
combined_df = combined_df.drop('ScanDir ID', axis=1)

In [757]:
print(combined_df.head())

   Site  Gender    Age  Handedness   DX  ADHD Measure  ADHD Index   Verbal IQ  \
0   6.0     0.0  10.42        0.96  1.0           2.0   44.615385  115.038462
1   6.0     1.0   9.33        1.00  0.0           2.0   44.615385  115.038462
2   6.0     1.0  10.67        1.00  1.0           2.0   44.615385  115.038462
3   6.0     1.0   7.67        1.00  2.0           2.0   44.615385  115.038462
4   6.0     1.0   9.33        0.00  1.0           2.0   44.615385  115.038462

   Performance IQ  Full4 IQ
0      107.192308     104.0
1      107.192308      96.0
2      107.192308     136.0
3      107.192308     126.0
4      107.192308     103.8

In [758]:
combined_df

,Site,Gender,Age,Handedness,DX,ADHD Measure,ADHD Index,Verbal IQ,Performance IQ,Full4 IQ
0,6.0,0.0,10.42,0.96,1.0,2.0,44.615385,115.038462,107.192308,104.0
1,6.0,1.0,9.33,1.00,0.0,2.0,44.615385,115.038462,107.192308,96.0
2,6.0,1.0,10.67,1.00,1.0,2.0,44.615385,115.038462,107.192308,136.0
3,6.0,1.0,7.67,1.00,2.0,2.0,44.615385,115.038462,107.192308,126.0
4,6.0,1.0,9.33,0.00,1.0,2.0,44.615385,115.038462,107.192308,103.8
...,...,...,...,...,...,...,...,...,...,...
80,1.0,1.0,9.25,0.96,3.0,1.0,49.000000,97.000000,89.000000,93.0
81,1.0,1.0,11.83,0.96,0.0,1.0,31.000000,129.000000,120.000000,128.0
82,1.0,0.0,12.75,0.96,0.0,1.0,35.000000,128.000000,126.000000,130.0
83,1.0,1.0,11.33,0.96,0.0,1.0,24.000000,128.000000,135.000000,135.0
84,1.0,0.0,9.25,0.96,0.0,1.0,-999.000000,125.000000,103.000000,117.0

In [759]:
# Replace values in the "old_column" with new values
# Replace values in the "old_column" with new values
combined_df['ADHD Measure'].replace({1:0, 2:1,3:2}, inplace=True)
#combined_df['ADHD Measure'].replace({'A': '2', 'B': '1'}, inplace=True)
#combined_df['ADHD Measure'].replace({'A': '3', 'B': '2'}, inplace=True)

In [760]:
combined_df['ADHD Measure'].unique()

array([1., 2., 0.])

In [761]:
#the final modified file can be used for further analysis.
#export individual files to this modified folder and also send the combined file.
df1.to_csv('../../data/01-modified-data/Brown_TestRelease_phenotypic_clean.csv', index=False)
df2.to_csv('../../data/01-modified-data/KKI_phenotypic_clean.csv', index=False)
df3.to_csv('../../data/01-modified-data/NYU_phenotypic_clean.csv', index=False)
df4.to_csv('../../data/01-modified-data/OHSU_phenotypic_clean.csv', index=False)
df5.to_csv('../../data/01-modified-data/OHSU_TestRelease_phenotypic_clean.csv', index=False)
df6.to_csv('../../data/01-modified-data/Peking_1_phenotypic_clean.csv', index=False)
df7.to_csv('../../data/01-modified-data/Peking_1_TestRelease_phenotypic_clean.csv', index=False)
combined_df.to_csv('../../data/01-modified-data/combined_data_clean.csv', index=False)